<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionDB"            
        connectionString="Data Source=SKAB1-PC-11\SIMONE;Initial Catalog=DatingDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>    
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration> 
<!--Ctrl + k + c      ctrl k + u-->   
<!--connectiostring ="Data Source=SKAB1-PC-07\JOAKIMFKK;Initial Catalog=DatingDB;Integrated Security=True"-->