
test/obj/Debug/test_MarkupCompile.cache
test/obj/Debug/test.csproj.CoreCompileInputs.cache
test/obj/Debug/soge.baml
test/obj/Debug/sletbruger.baml
test/obj/Debug/opretkonto.baml
test/obj/Debug/opretbrugerfirst.baml
test/obj/Debug/opretbruger.baml
test/obj/Debug/Opdaterbruger.baml
test/obj/Debug/matches.baml
test/obj/Debug/MainWindow.baml
test/obj/Debug/loginuser.baml
test/obj/Debug/ChatLog.baml
.vs/wpf/v15/Server/sqlite3/storage.ide-shm
.vs/wpf/v15/.suo
.vs/wpf/v15/.suo
.vs/wpf/v15/Server/sqlite3/storage.ide-shm
.vs/wpf/v15/Server/sqlite3/storage.ide-wal
test/obj/Debug/ChatLog.baml
test/obj/Debug/loginuser.baml
test/obj/Debug/MainWindow.baml
test/obj/Debug/matches.baml
test/obj/Debug/Opdaterbruger.baml
test/obj/Debug/opretbruger.baml
test/obj/Debug/opretbrugerfirst.baml
test/obj/Debug/opretkonto.baml
test/obj/Debug/sletbruger.baml
test/obj/Debug/soge.baml
test/obj/Debug/test.csproj.CoreCompileInputs.cache
test/obj/Debug/test_MarkupCompile.cache
